<div class="container login-bg">
    <div id="login-page" class="row">
        <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">
            <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="row">
                    <div class="input-field col s12">
                        <h5 class="ml-4">Login</h5>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-2">person_outline</i>
                        <input type="email" id="exampleInputEmail1" formControlName="email" aria-describedby="emailHelp">
                        <div *ngIf="email.touched && email.invalid">
                            <small *ngIf="email.errors.required" class="text-danger">Email is required<br></small>
                            <small *ngIf="email.errors.email" class="text-danger">Invalid Email<br></small>
                        </div>
                        <label for="exampleInputEmail1" class="center-align">Email address</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-2">lock_outline</i>
                        <input type="password"  id="exampleInputPassword1" formControlName="password">
                        <div *ngIf="password.touched && password.invalid">
                            <small *ngIf="password.errors.required" class="text-danger">Password is required<br></small>
                            <small *ngIf="password.errors.minlength" class="text-danger">password must contain 6 characters at least</small>
                        </div>
                        <div><small class="text-danger">{{message}}</small></div>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button type="submit" class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12" [disabled]="loginForm.invalid">Login</button>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 m6 l6">
                        <p class="margin medium-small"><a routerLink="/registration">Register Now!</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="content-overlay"></div>