<div class="container register-bg">
  <div id="register-page" class="row">
      <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 register-card bg-opacity-8">
          <form class="login-form" [formGroup]="register" (ngSubmit)="onSubmit()">
              <div class="row">
                  <div class="input-field col s12">
                      <h5 class="ml-4">SingnUp</h5>
                  </div>
              </div>
              <div class="row margin">
                  <div class="input-field col s12">
                      <i class="material-icons prefix pt-2">person_outline</i>
                      <input id="username" type="text" formControlName="username">
                      <div *ngIf="username.touched && username.invalid">
                        <small *ngIf="username.errors.required" class="text-danger">username is required<br></small>
                        <small *ngIf="username.errors.pattern" class="text-danger">Invalid username <br></small>
                        <small *ngIf="username.errors.minlength" class="text-danger">username must contain two characters at least</small>
                    </div>
                      <label for="username" class="center-align">Username</label>
                  </div>
              </div>
              <div class="row margin">
                  <div class="input-field col s12">
                      <i class="material-icons prefix pt-2">mail_outline</i>
                      <input id="email" type="email" formControlName="email">
                      <div *ngIf="email.touched && email.invalid">
                        <small *ngIf="email.errors.required" class="text-danger">Email is required<br></small>
                        <small *ngIf="email.errors.email" class="text-danger">Invalid Email<br></small>
                      </div>
                      <label for="email">Email</label>
                  </div>
              </div>
              <div class="row margin">
                  <div class="input-field col s12">
                      <i class="material-icons prefix pt-2">lock_outline</i>
                      <input id="password" type="password" formControlName="password">
                      <div *ngIf="password.touched && password.invalid">
                        <small *ngIf="password.errors.required" class="text-danger">Password is required<br></small> 
                        <small *ngIf="password.errors.minlength" class="text-danger">password must contain 6 characters at least</small>
                    </div>
                      <label for="password">Password</label>
                  </div>
              </div>
              <div class="row margin">
                  <div class="input-field col s12">
                      <i class="material-icons prefix pt-2">lock_outline</i>
                      <input id="confirmpassword" type="password" formControlName="confirmpassword">
                      <div *ngIf="confirmpassword.touched && confirmpassword.invalid">
                        <small *ngIf="confirmpassword.errors.required" class="text-danger">Repeat Password is required<br></small>
                    </div>
                    <div *ngIf="confirmpassword.valid && confirmpassword.value != password.value" class="text-danger">
                        The passwords entered do not match
                    </div>
                      <label for="confirmpassword">Password again</label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12">
                    <button class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12" [disabled]="!register.valid" >
                      Sign in
                    </button>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12">
                      <p class="margin medium-small"><a routerLink="/login" >Already have an account? Login</a></p>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
<div class="content-overlay"></div>